<ion-view style="background:url(asset/home_background.jpg)" class="screen">
    <!--  <ion-header-bar class="bar-dark">
        <h1 class="title">DataStructure Game</h1>
    </ion-header-bar> -->
    <div
        style="background-color: rgba(0, 0, 0, 0.4); position: absolute; width: 100%; height: 100%;">
    </div>
    <ion-content class="padding">
        <div class="home-container">
            <h1 style="color: WHITE;font-weight: bolder; font-size: 50px;">SELECT GAME</h1>
            <button class="queue-button" ng-click="queueGame()"
                class="button button-dark button-block button-outline button-large"></button>
            <button class="stack-button" ng-click="stackGame()"
                class="button button-dark button-block button-outline button-large"></button>
        </div>
    </ion-content>
</ion-view>