<ion-view style="background:url(asset/home_background.jpg)">
    <!--  <ion-header-bar class="bar-dark">
        <h1 class="title">DataStructure Game</h1>
    </ion-header-bar> -->
    <ion-content class="padding">
        <div style="    height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;">
            <button style="
        background: url(asset/Queuebtn.PNG);
        background-size: 100% 100%;
    " ng-click="queueGame()" class="button button-dark button-block button-outline"></button>
            <button style="
        background: url(asset/Stackbtn.PNG);
        background-size: 100% 100%;
    " ng-click="stackGame()" class="button button-dark button-block button-outline"></button>
        </div>
    </ion-content>
</ion-view>